# Variáveis


- Variável (estatística) - atributo, mensurável ou não, sujeito à variação quantitativa ou qualitativa, no interior de um conjunto
- Variável (matemática) - ente, em geral representado por uma letra, que pode assumir diferentes valores numéricos em uma expressão algébrica, numa fórmula ou num algoritmo
- Variável (programação) - objeto situado na memória que representa um valor ou expressão

In [1]:
y <- 2*x + 3

ERROR: Error in eval(expr, envir, enclos): objeto 'x' não encontrado

In [2]:
x <- 3

In [3]:
y <- 2*x + 3
print(y)

[1] 9

## Variáveis estatísticas

In [4]:
df_alunos <- read.csv('pesos-alturas.csv')

In [5]:
head(df_alunos)

  Pesos Alturas
1 74    1,73
2 61    1,62
3 61    1,63
4 68    1,68
5 70    1,68
6 73    1,75

In [6]:
summary(df_alunos)

     Pesos          Alturas
 Min.   :50.00   1,61   : 15
 1st Qu.:57.00   1,7    : 15
 Median :65.00   1,75   : 13
 Mean   :64.93   1,57   : 12
 3rd Qu.:73.00   1,68   : 12
 Max.   :80.00   1,52   : 11
                 (Other):221

In [7]:
sd(df_alunos$Pesos)

[1] 9.078084

In [8]:
s <- sqrt(sum((df_alunos$Pesos-mean(df_alunos$Pesos))^2/(length(df_alunos$Pesos)-1)))
print(s)

[1] 9.078084