# Manipulação de dados

In [ ]:
# install.packages('tidyverse')

# Usando o **dplyr**

In [1]:

library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
df <- mtcars
str(df)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [3]:
# Filtrando apenas os registros com determinadas condições:
head(filter(df,cyl<8,hp>100))

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
4 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
5 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
6 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4

In [4]:
# Usando o resultado para criar outro DataFrame:
df2 <- filter(df,cyl<8,hp>100)

In [6]:
# Pegando partes de um DataFrame. Da linha 10 à linha 20 (inclusive) - 11 linhas:
slice(df,10:20)

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
2  17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
3  16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
4  17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
5  15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
6  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
7  10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
8  14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
9  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
10 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
11 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1

In [7]:
# Classificando por cyl e depois por mpg:
head(arrange(df,cyl,mpg))

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
2 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
3 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
5 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
6 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2

In [9]:
# Os carros que consomem menos (do mpg maior para o menor)
head(arrange(df,desc(mpg)))

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
2 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
3 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
4 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
5 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
6 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2

In [11]:
# Selecionando colunas e criando outro DataFrame:
carros <- select(df,cyl,hp)

In [12]:
head(carros)

                  cyl hp
Mazda RX4         6   110
Mazda RX4 Wag     6   110
Datsun 710        4    93
Hornet 4 Drive    6   110
Hornet Sportabout 8   175
Valiant           6   105

In [14]:
# Quantos tipos de cilindros diferentes existem?
distinct(select(df,cyl))

  cyl
1 6
2 4
3 8

In [15]:
# Criando uma nova coluna (hp por cilindro):
head(mutate(df, hp_cyl = hp / cyl))

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb hp_cyl
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    18.33333
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    18.33333
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    23.25000
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    18.33333
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    21.87500
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    17.50000

In [16]:
# Resumindo um DataFrame por agregação. Média de hp dos carros:
summarise(df,Media_HP=mean(hp,na.rm=TRUE)) # na.rm=TRUE remove as linhas sem valores em HP

  Media_HP
1 146.6875

## Operador PIPE "%>%"

In [19]:
# Permite concatenar operações sobre um mesmo DataFrame
df <- mtcars %>% select(mpg,hp,cyl) %>% arrange(desc(mpg),cyl)
head(df)

  mpg  hp  cyl
1 33.9  65 4
2 32.4  66 4
3 30.4  52 4
4 30.4 113 4
5 27.3  66 4
6 26.0  91 4

# Usando o **tidyr**

**gather** cria novas linhas, fazendo um "pivô", uma transposição de colunas em linhas. Vamos criar um DataFrame assim

In [24]:
library(tidyr)

In [25]:
filial <- c(100,200)
ano <- c(2016,2016,2017,2017)
semestre1 <- c(153450.00,102300.00)
semestre2 <- c(195370.00,122300.00)
df_vendas <- data.frame(filial=filial,ano=ano,semestre1 = semestre1,semestre2 = semestre2)

In [26]:
df_vendas

  filial ano  semestre1 semestre2
1 100    2016 153450    195370
2 200    2016 102300    122300
3 100    2017 153450    195370
4 200    2017 102300    122300

Vamos separar semestre 1 e semestre 2 em linhas, em vez de colunas:

In [27]:
df_vendas2 <- gather(df_vendas,semestre,venda,semestre1:semestre2)
df_vendas2

  filial ano  semestre  venda
1 100    2016 semestre1 153450
2 200    2016 semestre1 102300
3 100    2017 semestre1 153450
4 200    2017 semestre1 102300
5 100    2016 semestre2 195370
6 200    2016 semestre2 122300
7 100    2017 semestre2 195370
8 200    2017 semestre2 122300

A função **spread** faz o contrário da função **gather** transpondo linhas em colunas:

In [28]:
df_vendas3 <- spread(df_vendas2,semestre,venda)
df_vendas3

  filial ano  semestre1 semestre2
1 100    2016 153450    195370
2 100    2017 153450    195370
3 200    2016 102300    122300
4 200    2017 102300    122300

A função **separate** separa campos em linhas, de acordo com uma expressão regular. Suponha o dataset "desemprego.csv", o campo "periodo" é formado por ano + "." + mês. A coluna a ser separada tem que ser do tipo "caractere" e não numérica! Vamos separar ano e mês:

In [42]:
df_desemprego <- read.csv('desemprego.csv',colClasses= c('character','numeric'))
str(df_desemprego)

'data.frame':	121 obs. of  2 variables:
 $ Periodo   : chr  "2007.08" "2007.09" "2007.10" "2007.11" ...
 $ Desemprego: num  10.4 10.5 10 10 9.3 9.3 9.1 9.6 9.8 9.8 ...

In [43]:
head(df_desemprego)

  Periodo Desemprego
1 2007.08 10.4
2 2007.09 10.5
3 2007.10 10.0
4 2007.11 10.0
5 2007.12  9.3
6 2008.01  9.3

In [49]:
df_sep <- separate(df_desemprego,'Periodo',c('ano','mes'),sep='[.]')
head(df_sep)

  ano  mes Desemprego
1 2007 08  10.4
2 2007 09  10.5
3 2007 10  10.0
4 2007 11  10.0
5 2007 12   9.3
6 2008 01   9.3

A função **unite** faz o contrário:

In [47]:
df_original <- unite(df_sep,'Periodo',c('ano','mes'),sep='.')
head(df_original)

  Periodo Desemprego
1 2007.08 10.4
2 2007.09 10.5
3 2007.10 10.0
4 2007.11 10.0
5 2007.12  9.3
6 2008.01  9.3